{% extends 'base.html.twig' %}


{% block body %}

    <h4>Inscription</h4>

    {{ form_start(form) }}

    {{ form_end(form) }}


    <div class="form-btn-group text-right">
        <button class="btn btn-info" type="submit">
            Enregistrer
        </button>
    </div>
{% endblock %}
