
/** LE BODY **/
body{
    background-image: url("../img/accueil/dentiste-femme-750x410.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
}

/** L'ACCUEIL **/
.accueil{
    display: flex;
    flex-direction: column;
    margin: 10% 0 15% 50%;
    align-items: center;
}
.titre{
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
}
.titre span{
    font-weight: bold;
}
.titre span a{
    text-decoration: none;
    color: #4bb3bd;
    position: relative;
    font-size: 1.3em;

}

.souligne {
    display: inline;
    position: relative;
    overflow: hidden;
}
.souligne:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #4bb3bd;
    height: 2px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.souligne:hover:after,
.souligne:focus:after,
.souligne:active:after {
    right: 0;
}


.lien{
    margin-top: 20px;
}
.lien a{
    text-decoration: none;
    color: white;
    background-color: #4ec8d3;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
    transform: scale(1);
    transition: all ease-in-out 400ms;
}
.lien a:hover{
    transform: scale(1.1);
}

/** Fin de l'accueil **/

/** Partie compétences **/
.competences{
    background-color: #4ec8d3;
    display: flex;
}
.logos{
    justify-content: space-between;
    margin: 30px 0;
    display: flex;
}
.logo a{
    text-decoration: none;
}
.logo{
    margin: 0 auto;
}

/** L'animation de flip des logos **/
.carie:hover, .conseils:hover, .mutuelle:hover, .calendrier:hover{
    animation: ease-in-out 500ms flip;
}
@keyframes flip {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.logo-img{
    background-color: white;
    border-radius: 100px;
    margin: 10px;
    padding: 20px 20px;
}
.logo img{
    width: 90px;
    height: 90px;
}
.logo-text{
    color: white;
    font-size: 1.2em;
    text-align: center;
}
.logos div{
    max-width: 150px;
}


/** L'animation de chargement **/
.logo-carie, .logo-conseils, .logo-mutuelle, .logo-calendrier{
    opacity: 0;
    animation-duration: 1.3s;
    animation-name: show;
    animation-timing-function: ease-in-out;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}
.logo-conseils{
    animation-delay: 600ms;
}
.logo-mutuelle{
    animation-delay: 1100ms;
}
.logo-calendrier{
    animation-delay: 1600ms;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



@media screen and (max-width: 770px) {
    .logos{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px){
    .accueil{
        margin: 30% auto;
    }
    .lien{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}