body{
    margin-top: 120px;
}
.flashMessage{
    position: relative;
    font-size: 1.8em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
/** Les flash messages **/

#messageFlash{
    margin-top: 80px;
}
.alertBox{
    padding: 15px;
}
.boutonFerme {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
.boutonFerme:hover{
    color: white;
}

.msgAlert{
    opacity: 1;
    transition: opacity 0.6s;
}

.bordure{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px double white;
}
.liste-ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list-utilisateur{
    display: flex;
}

/** La nav bar **/
.logoNavbar{
    width: 160px;
}
#barreNavigation{
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
    width: 100%;
}
.logoNavbar{
    width: 160px;
}
.lienNav{
    position: relative;
}
.lienNav:before, .lienNav:after{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: '';
    opacity: 0;
    transition: all 0.3s;
}
.lienNav:before{
    top: 0;
    transform: translateY(10px);
}
.lienNav:after{
    bottom: 0;
    transform: translateY(-10px);
}
.logoNavbar{
    width: 160px;
}
.lienNav:hover:before, .lienNav:hover:after{
    opacity: 1;
    transform: translateY(0px);
}
.liste-ul, .list-utilisateur{
    align-items: center;
    justify-content: center;
}
.dropdown-menu{
    width: 30%;
}
.deconnexion{
    height: 30px;
    width: 30px;
}

.lienDeconnexion{
    position: relative;
}
.lienDeconnexion span{
    position: absolute;
    width: 165px;
    top: 20px;
    left: 50px;
    background-color: #4ec8d3;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transform: scale(0) rotate(-12deg);
    transition: all .25s;
    opacity: 0;
    box-shadow: 8px 8px 15px black;
}
.lienDeconnexion:hover span{
    transform: scale(1) rotate(0);
    opacity: 1;
}


/** Apparition de la navbar **/
#barreNavigation{
    z-index: 20;
    opacity: 0;
    animation: ease-in-out forwards apparitionNav;
    animation-delay: 200ms;
    animation-duration: 0.6s;
}
@keyframes apparitionNav {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/** Aparition du footer **/

.footer{
    z-index: 20;
    opacity: 0;
    animation: ease-in-out forwards apparitionFooter;
    animation-delay: 700ms;
    animation-duration: 0.6s;
}
@keyframes apparitionFooter {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/** LE FOOTER **/

.footer{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #055873;
    color: white;
}
footer a:link, footer a:visited{
    text-decoration: none;
}
footer a:hover{
    color: #5bc0de;
}
.divRow{
    margin: 0;
}
footer p{
    margin-bottom: 10px;
}
.adresseCabinet{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10%;
}
.adressePostale{
    margin: 3px;
    font-size: 0.8rem;
    color: #b2ebf2;
    letter-spacing: 2px;
}
.map{
    margin-top: 40px;
    -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
    filter: gradient(true,6);
}
.titreAdresse, .titreLien{
    text-align: center;
    color: #21a7bc;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}
.titreDocteur{
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.liens{
    padding-top: 30px;
    padding-left: -10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-width: 10%;
}
.liens a{
    font-size: 0.8rem;
    margin-top: 10px;
    color: #FFFFFF;
}
.logoFooter{
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 10%;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.copyright p{
    font-style: italic;
    font-size: 0.7em;
    text-align: right;
}

/** Navbar ADMIN **/
#navbarAdmin{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
#navbarAdmin a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s ;
    opacity: 0;
}
#navbarAdmin a:hover{
    color: white;
    transition: 0.3s color ease-in-out;
}
.show{
    opacity: 1 !important;
    transition: ease-in-out !important;
    transition-duration: 0.6s !important;
    transition-delay: 700ms;
}

main{
    transition: margin-left .5s;
}
#openBouton{
    position: fixed;
    z-index: 99;
    top: 100px;
    left: 20px;
    transition: ease-in-out top;
    transition-duration: 400ms;
}

@media screen and (max-width: 991px){
    nav .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .liste-ul, .list-utilisateur{
        align-items: unset;
    }
    .liste-ul li{
        width: 30%;
    }
    .liens{
        align-items: center;
    }
    .bordure{
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        border-top: 3px double white;
        margin-top: 20px;
        padding-top: 20px;
        width: 30%;
    }
    .list-utilisateur{
        flex-direction: column;
    }
    .map{
        display: none;
    }
}
