.flashMessage{
    position: relative;
    font-size: 1.8em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
/** Animation qui fait disparaitre les flash message de succès
(les flash messages d'error restent grâce au js) **/
.flashMessageAnimation{
    animation-name: hide;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes hide {
    from{
        opacity: 1;
    }
}

/** la navbar admin **/
#navbarAdmin {
    padding: 0;
    background-color: #055873;
}

.logo {
    width: 160px;
}

/** LE FOOTER **/

.footer{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e8ffff;
}
.divRow{
    margin: 0;
}
.adresseCabinet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.adresseVille{
    padding: 10px;
    padding-left: 30px;
}
.map{
    padding: 20px;
    border-radius: 20px;
}
.titreAdresse, .titreLien{
    text-align: center;
    text-decoration: underline;
}
.liens{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.liens a{
    margin: 10px;
    text-align: center;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.copyright p{
    font-style: italic;
    font-size: 0.7em;
    text-align: right;
}


@media screen and (max-width: 991px){
    nav .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .liste-ul, .list-utilisateur{
        align-items: unset;
    }
    .liste-ul li{
        width: 30%;
    }
    .liens{
        align-items: center;
    }
    .bordure{
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        border-top: 3px double white;
        margin-top: 20px;
        padding-top: 20px;
        width: 30%;
    }
    .list-utilisateur{
        flex-direction: column;
    to{
        opacity: 0;
    }
}

.navbar-admin {
    padding: 0;
    background-color: #055873;
}