{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% for patient in patients %}
        <h4>{{ patient.nom }}</h4>

        <dl class="row">

                <dt class="col-sm-3">Patient</dt>
                <dd class="col-sm-9">{{ patient.nom }}</dd>

                <dt class="col-sm-3">Adresse Postale</dt>
                <dd class="col-sm-9">
                    <p>{{ patient.adresse }}</p>
                </dd>

                <dt class="col-sm-3">Date de naissance</dt>
                <dd class="col-sm-9">{{ patient.dateNaissance|date(d/m/Y) }}</dd>

                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

                <dt class="col-sm-3">Nesting</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">Nested definition list</dt>
                        <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                    </dl>
                </dd>
            </dl>
        {% endfor %}
    </div>
{% endblock %}
