{% extends 'base.html.twig' %}

{% block title %}Dr Filitika, Chirurgien dentiste à Nouméa - Nouvelle Calédonie{% endblock %}

{% block body %}

    <h3>Santé dentaire : les réponses aux questions les plus fréquentes que vous vous posez</h3>


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Recommandations au quotidien</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Le fil dentaire</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Le Fluor</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/5.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Alimentation saine et équilibrée</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Evaluez votre dépendance à la nicotine</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/7.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Les dents du bébé</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/8.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Les dents de l'enfant : de la naissance à 6 ans</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/9.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Santé bucco-dentaire chez le jeune enfant</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/10.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Comment brosser les dents de vos enfants</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/11.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Alimentation et carie chez l'enfant</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/12.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Les scellements de sillons</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
                <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                    <img class="card-img-top" src="img/13.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Orthodontie</h5>
                        <p class="card-text">{##}</p>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





   

{% endblock %}


{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/sante.css') }}">
{% endblock %}