{# Modèle à 1 accordéon #}
<div class="container">
    <div class="row">
        <img src="img/sante/icons8-popup-d'info-48.png">
        <h3>Santé dentaire : les réponses aux questions les plus fréquentes que vous vous posez</h3>
    </div>
    {# On crée un second conteneur qui contient uniquement l'accordéon #}
    <div class="container2">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                        Recommandations générales
                    </a>
                </div>
                <div id="collapse1" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/1.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title1">Les 5 idées reçues à combattre</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/03/fiche-IdeesRecues_180117_v2.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title2">Recommandations au quotidien</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/fiche-RECO-2018.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/3.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title3">Le fil dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/12/fiche-FilDentaire_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/4.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title4">Le Fluor</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-FLUOR.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/5.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title5">Alimentation saine et équilibrée</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-MANGER-SAIN-ET-EQUILIBRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/6.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title6">Evaluez votre dépendance à la nicotine</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-Nicotine_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                        Bébés, enfants, adolescents
                    </a>
                </div>
                <div id="collapse2" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/7.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title7">Les dents du bébé</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-LES-DENTS-DE-MON-BEBE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/8.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title8">Les dents de l'enfant : de la naissance à 6 ans</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-ENFANT-NAISSANCE-A-6-ANS-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/9.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title9">Santé bucco-dentaire chez le jeune enfant</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/JEUNE-ENFANT_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/10.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title10">Comment brosser les dents de vos enfants</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-COMMENT-BROSSER-LES-DENTS-DE-VOS-ENFANTS-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/11.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title11">Alimentation et carie chez l'enfant</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/ficheAlimentation-carie-enfant_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/12.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title12">Les scellements de sillons</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/10/Sillons_201017.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/13.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title13">Orthodontie</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-ORTHODONTIE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                        Adultes
                    </a>
                </div>
                <div id="collapse3" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/14.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title14">Les dents pendant la grossesse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-BONNES-DENTS-PENDANT-MA-GROSSESSE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/15.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title15">Santé bucco-dentaire et grossesse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/FEMMES-ENCEINTES_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/16.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title16">Personnes âgées</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-PERSONNES-AGEES-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/17.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title17">Séniors et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/SENIORS_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/18.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title18">Crême fixative : une alliée pour sa prothèse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-CREME-FIXATIVE-251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/19.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title19">Personnes handicapées</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2013/07/fiche-conseil-PERSONNES-HANDICAPEES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/20.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title20">Santé bucco-dentaire et stress</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/STRESS_Fiche-profil-PDS-2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                        Pathologies
                    </a>
                </div>
                <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/21.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title21">La carie</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-CARIE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/22.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title22">Se débarasser d'un aphte</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-COMMENT-SE-DEBARASSER-D-UN-APHTE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/23.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title23">Hypersensibilité dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-HYPERSENSIBILITE-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/24.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title24">Maladie parodontale</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-parodontale_081216.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/25.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title25">Halitose : mauvaise haleine</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/Fiche-conseil-HALITOSE-N-EST-PAS-UNE-FATALITE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/26.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title26">Maladie cardiaque et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-MALADIE-CARDIAQUE-ET-SANTE-BUCCO-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/27.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title27">Maladie cardiaque et santé bucco-dentaire : témoignages</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/CARDIO-VASCULAIRE_Ficheprofil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/28.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title28">Diabète et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-DIABETE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/29.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title29">Diabète et santé bucco-dentaire : témoignages</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/DIABETE_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                        Sport
                    </a>
                </div>
                <div id="collapse5" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/30.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title30">Les traumatismes bucco-dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/fiche-conseil-LES-TRAUMATISMES-BUCCO-DENTAIRES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/31.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title31">Performances sportives et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-SPORT.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/32.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title32">Le protège-dents ou protection intra-buccale</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-PROTEGE-DENTS.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/33.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title33">Tendinites, troubles musculo-squelettiques et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-TENDINITES-TMS.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                        Soins
                    </a>
                </div>
                <div id="collapse6" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/34.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title34">Les extractions dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-LES-EXTRACTIONS-DENTAIRES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/35.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title35">Implant pour remplacer une dent</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/Fiche-patient-IMPLANT-POUR-REMPLACER-UNE-DENT.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/36.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title36">Amalgame dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/fiche-conseil-AMALGAME-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/37.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title37">Les couronnes</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-POURQUOI-AI-JE-BESOIN-D-UNE-COURONNE-1.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/38.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title38">Retrouver un beau sourire : les facettes</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-RETROUVER-UN-BEAU-SOURIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/39.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title39">Les prothèses dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-PROTHESES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/40.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title40">Le bilan dentaire <br> pré-opératoire <br>(avant une opération de la hanche par exemple)</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/Fiche-Bilan-PreOperatoire_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
























{# Modèle à 2 accordéons #}

<div class="container">
    <div class="row">
        <img src="img/sante/icons8-popup-d'info-48.png">
        <h3>Santé dentaire : les réponses aux questions les plus fréquentes que vous vous posez</h3>
    </div>
    {#<h1>First Accordion</h1>#}
    <div class="container2">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Recommandations générales
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/1.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title1">Les 5 idées reçues à combattre</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/03/fiche-IdeesRecues_180117_v2.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title2">Recommandations au quotidien</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/fiche-RECO-2018.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/3.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title3">Le fil dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/12/fiche-FilDentaire_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/4.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title4">Le Fluor</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-FLUOR.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/5.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title5">Alimentation saine et équilibrée</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-MANGER-SAIN-ET-EQUILIBRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/6.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title6">Evaluez votre dépendance à la nicotine</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-Nicotine_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Bébés, enfants, adolescents
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/7.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title7">Les dents du bébé</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-LES-DENTS-DE-MON-BEBE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/8.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title8">Les dents de l'enfant : de la naissance à 6 ans</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-ENFANT-NAISSANCE-A-6-ANS-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/9.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title9">Santé bucco-dentaire chez le jeune enfant</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/JEUNE-ENFANT_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/10.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title10">Comment brosser les dents de vos enfants</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-COMMENT-BROSSER-LES-DENTS-DE-VOS-ENFANTS-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/11.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title11">Alimentation et carie chez l'enfant</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/ficheAlimentation-carie-enfant_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/12.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title12">Les scellements de sillons</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/10/Sillons_201017.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/13.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title13">Orthodontie</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-ORTHODONTIE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Adultes
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/14.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title14">Les dents pendant la grossesse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-BONNES-DENTS-PENDANT-MA-GROSSESSE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/15.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title15">Santé bucco-dentaire et grossesse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/FEMMES-ENCEINTES_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/16.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title16">Personnes âgées</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-PERSONNES-AGEES-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/17.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title17">Séniors et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/SENIORS_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/18.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title18">Crême fixative : une alliée pour sa prothèse</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-CREME-FIXATIVE-251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/19.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title19">Personnes handicapées</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2013/07/fiche-conseil-PERSONNES-HANDICAPEES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/20.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title20">Santé bucco-dentaire et stress</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/STRESS_Fiche-profil-PDS-2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<h1>Second Accordion</h1>#}
        <div class="accordion2" id="accordion3">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                        Pathologies
                    </a>
                </div>
                <div id="collapse4" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/21.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title21">La carie</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-CARIE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/22.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title22">Se débarasser d'un aphte</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-COMMENT-SE-DEBARASSER-D-UN-APHTE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/23.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title23">Hypersensibilité dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-HYPERSENSIBILITE-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/24.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title24">Maladie parodontale</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/fiche-parodontale_081216.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/25.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title25">Halitose : mauvaise haleine</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/Fiche-conseil-HALITOSE-N-EST-PAS-UNE-FATALITE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/26.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title26">Maladie cardiaque et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-MALADIE-CARDIAQUE-ET-SANTE-BUCCO-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/27.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title27">Maladie cardiaque et santé bucco-dentaire : témoignages</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/CARDIO-VASCULAIRE_Ficheprofil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/28.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title28">Diabète et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/Fiche-conseil-DIABETE-avec-video-.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/29.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title29">Diabète et santé bucco-dentaire : témoignages</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2018/03/DIABETE_Fiche-profil-PDS2018_GP_vsOK.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse5">
                        Sport
                    </a>
                </div>
                <div id="collapse5" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/30.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title30">Les traumatismes bucco-dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/fiche-conseil-LES-TRAUMATISMES-BUCCO-DENTAIRES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/31.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title31">Performances sportives et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-SPORT.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/32.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title32">Le protège-dents ou protection intra-buccale</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-PROTEGE-DENTS.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/33.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title33">Tendinites, troubles musculo-squelettiques et santé bucco-dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-TENDINITES-TMS.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse6">
                        Soins
                    </a>
                </div>
                <div id="collapse6" class="accordion-body in collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="card-body">
                            <div class="row">
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/34.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title34">Les extractions dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-LES-EXTRACTIONS-DENTAIRES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/35.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title35">Implant pour remplacer une dent</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/Fiche-patient-IMPLANT-POUR-REMPLACER-UNE-DENT.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/36.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title36">Amalgame dentaire</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/05/fiche-conseil-AMALGAME-DENTAIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/37.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title37">Les couronnes</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/Fiche-conseil-POURQUOI-AI-JE-BESOIN-D-UNE-COURONNE-1.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/38.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title38">Retrouver un beau sourire : les facettes</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/06/fiche-conseil-RETROUVER-UN-BEAU-SOURIRE.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/39.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title39">Les prothèses dentaires</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2016/08/fiche-conseil-PROTHESES.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                                <div class="card text-center text-white rounded mb-3 col-3" style="width: 18rem;">
                                    <img class="card-img-top" src="img/sante/40.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title40">Le bilan dentaire <br> pré-opératoire <br>(avant une opération de la hanche par exemple)</h5>
                                        <a href="http://www.ufsbd.fr/wp-content/uploads/2017/01/Fiche-Bilan-PreOperatoire_251116.pdf" class="btn btn-light border-0">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



































{# SOUS FORME DE LISTE #}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-recommandations-tab" data-toggle="pill" href="#v-pills-recommandations" role="tab" aria-controls="v-pills-recommandations" aria-selected="true">Recommandations générales</a>
                <a class="nav-link" id="v-pills-enfants-tab" data-toggle="pill" href="#v-pills-enfants" role="tab" aria-controls="v-pills-enfants" aria-selected="false">Bébés, enfants, adolescents</a>
                <a class="nav-link" id="v-pills-adultes-tab" data-toggle="pill" href="#v-pills-adultes" role="tab" aria-controls="v-pills-adultes" aria-selected="false">Adultes</a>
                <a class="nav-link" id="v-pills-pathologies-tab" data-toggle="pill" href="#v-pills-pathologies" role="tab" aria-controls="v-pills-pathologies" aria-selected="false">Pathologies</a>
                <a class="nav-link" id="v-pills-sport-tab" data-toggle="pill" href="#v-pills-sport" role="tab" aria-controls="v-pills-sport" aria-selected="false">Sport</a>
                <a class="nav-link" id="v-pills-soins-tab" data-toggle="pill" href="#v-pills-soins" role="tab" aria-controls="v-pills-soins" aria-selected="false">Soins</a>
            </div>
        </div>
        <div class="col-6">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-recommandations" role="tabpanel" aria-labelledby="v-pills-recommandations-tab"><div class="card-body">
                        <div class="row">
                            <div class="card text-center text-white bg-info mb-3 col-6" style="width: 18rem;">
                                <img class="card-img-top" src="img/1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-6" style="width: 18rem;">
                                <img class="card-img-top" src="img/2.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Recommandations au quotidien</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/3.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Le fil dentaire</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/4.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Le Fluor</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/5.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Alimentation saine et équilibrée</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/6.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Evaluez votre dépendance à la nicotine</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-enfants" role="tabpanel" aria-labelledby="v-pills-enfants-tab"><div class="card-body">
                        <div class="row">
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/7.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Les dents du bébé</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/8.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Les dents de l'enfant : de la naissance à 6 ans</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/9.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Santé bucco-dentaire chez le jeune enfant</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/10.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Comment brosser les dents de vos enfants</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/11.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Alimentation et carie chez l'enfant</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/12.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Les scellements de sillons</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/13.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Orthodontie</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-adultes" role="tabpanel" aria-labelledby="v-pills-adultes-tab"><div class="card-body">
                        <div class="row">
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/14.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Les dents pendant la grossesse</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/15.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Santé bucco-dentaire et grossesse</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/16.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Personnes âgées</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/17.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Séniors et santé bucco-dentaire</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/18.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Crême fixative : une alliée pour sa prothèse</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/19.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Personnes handicapées</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                            <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                                <img class="card-img-top" src="img/20.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Santé bucco-dentaire et stress</h5>
                                    <p class="card-text">{##}</p>
                                    <a href="#" class="btn btn-dark">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-pathologies" role="tabpanel" aria-labelledby="v-pills-pathologies-tab"><div class="card-body">
                    <div class="row">
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/21.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">La carie</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/22.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Se débarasser d'un aphte</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/23.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Hypersensibilité dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/24.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Maladie parodontale</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/25.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Halitose : mauvaise haleine</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/26.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Maladie cardiaque et santé bucco-dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/27.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Maladie cardiaque et santé bucco-dentaire : témoignages</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/28.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Diabète et santé bucco-dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/29.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Diabète et santé bucco-dentaire : témoignages</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-sport" role="tabpanel" aria-labelledby="v-pills-sport-tab"><div class="card-body">
                    <div class="row">
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/30.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Les traumatismes bucco-dentaires</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/31.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Performances sportives et santé bucco-dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/32.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Le protège-dents ou protection intra-buccale</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/33.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Tendinites, troubles musculo-squelettiques et santé bucco-dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-soins" role="tabpanel" aria-labelledby="v-pills-soins-tab"><div class="card-body">
                    <div class="row">
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/34.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Les extractions dentaires</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/35.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Implant pour remplacer une dent</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/36.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Amalgame dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/37.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Les couronnes</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/38.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Retrouver un beau sourire : les facettes</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/39.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Les prothèses dentaires</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/40.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Le bilan dentaire pré-opératoire (avant une opération de la hanche par exemple)</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

























































{#
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Recommandations générales
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Recommandations au quotidien</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                        <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                            <img class="card-img-top" src="img/3.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Le fil dentaire</h5>
                                <p class="card-text">{##}</p>
                                <a href="#" class="btn btn-dark">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                        <img class="card-img-top" src="img/2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Recommandations au quotidien</h5>
                            <p class="card-text">{##}</p>
                            <a href="#" class="btn btn-dark">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card text-center text-white bg-info mb-3 col-3" style="width: 18rem;">
                        <img class="card-img-top" src="img/3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Le fil dentaire</h5>
                            <p class="card-text">{##}</p>
                            <a href="#" class="btn btn-dark">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
























<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-deck">
                <div class="row">
                    <div class="card text-center text-white bg-info mb-3 col-2">
                        <img class="card-img-top" src="img/1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                        </div>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-deck">
                <div class="row">
                    <div class="card text-center text-white bg-info mb-3 col-2">
                        <img class="card-img-top" src="img/1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                        </div>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-deck">
                <div class="row">
                    <div class="card text-center text-white bg-info mb-3 col-2">
                        <img class="card-img-top" src="img/1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Les 5 idées reçues à combattre</h5>
                        </div>
                        <a href="#" class="btn btn-dark">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>