<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
<<<<<<< HEAD
    test
=======
        <h1>Accueil</h1>
>>>>>>> master
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
